{% extends "student_app/layout.html" %}
{% load static student_app_formatters %}

{% block title %}RM | OctoBox Aluno{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/student_app/screens/rm.css' %}">
{% endblock %}

{% block body %}
{% include "student_app/_partials/_rm_hero.html" %}
{% include "student_app/_partials/_rm_calculator.html" %}
{% include "student_app/_partials/_rm_list.html" %}
{% include "student_app/_partials/_rm_form.html" %}
{% endblock %}

{% block extra_scripts %}
{{ block.super }}
<script src="{% static 'js/student_app/rm.js' %}"></script>
{% endblock %}
