{% extends "student_app/layout.html" %}
{% load static student_app_formatters %}

{% block title %}RM | OctoBox Aluno{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/student_app/screens/rm.css' %}?v={{ static_asset_version }}">
{% endblock %}

{% block body %}
<div class="student-rm-top">
    <h1 class="student-rm-top__title">Seus recordes</h1>
    <a href="#novo-rm" class="student-rm-top__action">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.9" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M12 5v14"/><path d="M5 12h14"/></svg>
        Novo RM
    </a>
</div>
{% include "student_app/_partials/_rm_hero.html" %}
{% include "student_app/_partials/_rm_list.html" %}
{% include "student_app/_partials/_rm_calculator.html" %}
{% include "student_app/_partials/_rm_form.html" %}
{% endblock %}

{% block extra_scripts %}
{{ block.super }}
<script src="{% static 'js/student_app/rm.js' %}?v={{ static_asset_version }}"></script>
{% endblock %}
