<div class="student-financial-history-entry history-entry section-gap-bottom-xs">
    <div class="student-financial-history-entry__head row-between-md align-center">
        <strong class="student-financial-history-entry__title">{{ enrollment.plan.name }}</strong>
        <span class="student-financial-history-entry__pill pill outline {% if enrollment.status == 'active' %}success{% else %}secondary{% endif %}">{{ enrollment.get_status_display }}</span>
    </div>
    <p class="meta-text-xs">
        De {{ enrollment.start_date|date:"d/m/Y" }} {% if enrollment.end_date %}ate {{ enrollment.end_date|date:"d/m/Y" }}{% else %}(Recorrente){% endif %}
    </p>
</div>
